<br> 		  			
<div *ngFor="let loser of losers">			
	<div class="row">
		<div class="col-10"></div>
	</div>
	<div class="row">
		<div class="col-9">
			<div class="row">
				<div class="col-3">
					<b>Ticker: </b>
				</div>
				<div class="col-8">
					{{loser.ticker}}
				</div>
			</div>					
			<div class="row">
				<div class="col-3">
					<b>Company name: </b>
				</div>
				<div class="col-8">
					{{loser.companyName}}
				</div>
			</div>			
			<div class="row">
				<div class="col-3">
					<b>Price: </b>
				</div>
				<div class="col-8">
					{{loser.price}}
				</div>
			</div>						
			<div class="row">
				<div class="col-3">
					<b>Changes: </b>
				</div>
				<div class="col-8">
					{{loser.changes}}
				</div>
			</div>	
			<div class="row">
				<div class="col-3">
					<b>Changes percentage: </b>
				</div>
				<div class="col-8">
					{{loser.changesPercentage}}
				</div>
			</div>									
			<hr>			
		</div>	
	</div>
</div>