<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<br> 		  			
<div *ngFor="let gainer of gainers">			
	<div class="row">
		<div class="col-10"></div>
	</div>
	<div class="row">
		<div class="col-9">
			<div class="row">
				<div class="col-3">
					<b>Ticker: </b>
				</div>
				<div class="col-8">
					{{gainer.ticker}}
				</div>
			</div>					
			<div class="row">
				<div class="col-3">
					<b>Company name: </b>
				</div>
				<div class="col-8">
					{{gainer.companyName}}
				</div>
			</div>			
			<div class="row">
				<div class="col-3">
					<b>Price: </b>
				</div>
				<div class="col-8">
					{{gainer.price}}
				</div>
			</div>						
			<div class="row">
				<div class="col-3">
					<b>Changes: </b>
				</div>
				<div class="col-8">
					{{gainer.changes}}
				</div>
			</div>	
			<div class="row">
				<div class="col-3">
					<b>Changes percentage: </b>
				</div>
				<div class="col-8">
					{{gainer.changesPercentage}}
				</div>
			</div>									
			<hr>			
		</div>	
	</div>
</div>