<p>  
Profile
</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#income" role="tab" data-toggle="tab">Income statement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#balance-sheet" role="tab" data-toggle="tab">Balance sheet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#cash-flow" role="tab" data-toggle="tab">Cash flow</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane show active" id="income">TODO1</div>
  <div role="tabpanel" class="tab-pane fade" id="balance-sheet">TODO2</div>
  <div role="tabpanel" class="tab-pane fade" id="cash-flow">TODO3</div>
</div>