<br>
<div *ngIf="companyProfile">
	<div class="row">
		<div class="col-10"></div>
	</div>
	<div class="row">
		<div class="col-9">
			<div class="row">
				<div class="col-2">
					<b>Symbol: </b>
				</div>
				<div class="col">
					<a href="symbol/{{companyProfile.symbol}}">{{companyProfile.symbol}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Price: </b>
				</div>
				<div class="col">{{companyProfile.profile.price}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Beta: </b>
				</div>
				<div class="col">{{companyProfile.profile.beta}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Vol Avg: </b>
				</div>
				<div class="col">{{companyProfile.profile.volAvg}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>MKT Cap: </b>
				</div>
				<div class="col">{{companyProfile.profile.mktCap}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Last Div: </b>
				</div>
				<div class="col">{{companyProfile.profile.lastDiv}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Range: </b>
				</div>
				<div class="col">{{companyProfile.profile.range}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Changes: </b>
				</div>
				<div class="col">{{companyProfile.profile.changes}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Changes %: </b>
				</div>
				<div class="col">{{companyProfile.profile.changesPercentage}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Company: </b>
				</div>
				<div class="col">{{companyProfile.profile.companyName}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Exchange: </b>
				</div>
				<div class="col">{{companyProfile.profile.exchange}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Industry: </b>
				</div>
				<div class="col">{{companyProfile.profile.industry}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Website: </b>
				</div>
				<div class="col">
					<a href="{{companyProfile.profile.website}}" target="_blank">{{companyProfile.profile.website}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Description: </b>
				</div>
				<div class="col">
					<a href data-toggle="modal" data-target="#myModal">+ info</a>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>CEO: </b>
				</div>
				<div class="col">{{companyProfile.profile.ceo}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Sector: </b>
				</div>
				<div class="col">{{companyProfile.profile.sector}}</div>
			</div>
		</div>
		<div class="col-3">
			<img src="{{companyProfile.profile.image}}" />
		</div>
	</div>
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					{{companyProfile.profile.description}}</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" href="#income"
			role="tab" data-toggle="tab">Income</a></li>
		<li class="nav-item"><a class="nav-link" href="#balance-sheet"
			role="tab" data-toggle="tab">Balance sheet</a></li>
		<li class="nav-item"><a class="nav-link" href="#cash-flow"
			role="tab" data-toggle="tab">Cash flow</a></li>
		<li class="nav-item"><a class="nav-link" href="#ratios"
			role="tab" data-toggle="tab">Ratios</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane show active" id="income">
			<br>
			<div *ngFor="let financial of incomeStatement.financials">
				<div class="row">
					<div class="col-10"></div>
				</div>
				<div class="row">
					<div class="col-9">
						<div class="row">
							<div class="col-4">
								<b>Date: </b>
							</div>
							<div class="col">
								<b>{{financial.date}}</b>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Revenue: </b>
							</div>
							<div class="col">{{financial.revenue}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Revenue Growth: </b>
							</div>
							<div class="col">{{financial.revenueGrowth}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Cost Of Revenue: </b>
							</div>
							<div class="col">{{financial.costOfRevenue}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Gross Profit: </b>
							</div>
							<div class="col">{{financial.grossProfit}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>R&D Expenses: </b>
							</div>
							<div class="col">{{financial.rdExpenses}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>SGA Expenses: </b>
							</div>
							<div class="col">{{financial.sgaExpense}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Operating Expenses: </b>
							</div>
							<div class="col">{{financial.operatingExpenses}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Operating Income: </b>
							</div>
							<div class="col">{{financial.operatingIncome}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Interest Expense: </b>
							</div>
							<div class="col">{{financial.interestExpense}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Earnings before Tax: </b>
							</div>
							<div class="col">{{financial.earningsBeforeTax}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Income Tax Expense: </b>
							</div>
							<div class="col">{{financial.operatingIncome}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net income Non Controlling Int: </b>
							</div>
							<div class="col">{{financial.netIncomeNonControllingInt }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net income Discontinued: </b>
							</div>
							<div class="col">{{financial.netIncomeDiscontinued}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net income: </b>
							</div>
							<div class="col">{{financial.netIncome}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Preferred dividends: </b>
							</div>
							<div class="col">{{financial.preferredDividends}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net income com: </b>
							</div>
							<div class="col">{{financial.netIncomeCom}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>EPS: </b>
							</div>
							<div class="col">{{financial.ePS}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>EPS Diluted: </b>
							</div>
							<div class="col">{{financial.ePSDiluted}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Weighted average Shs Out: </b>
							</div>
							<div class="col">{{financial.weightedAverageShsOut}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Weighted average Shs Out Dil: </b>
							</div>
							<div class="col">{{financial.weightedAverageShsOutDil}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Dividend per share: </b>
							</div>
							<div class="col">{{financial.dividendPerShare}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Gross margin: </b>
							</div>
							<div class="col">{{financial.grossMargin}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>EBITDA Margin: </b>
							</div>
							<div class="col">{{financial.eBITDAMargin}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>EBIT Margin: </b>
							</div>
							<div class="col">{{financial.eBITMargin}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Profit margin: </b>
							</div>
							<div class="col">{{financial.profitMargin}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Free cash flow margin: </b>
							</div>
							<div class="col">{{financial.freeCashFlowMargin}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>EBITDA: </b>
							</div>
							<div class="col">{{financial.eBITDA}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>EBIT: </b>
							</div>
							<div class="col">{{financial.eBIT}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Consolidated income: </b>
							</div>
							<div class="col">{{financial.consolidatedIncome}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Earnings before tax margin: </b>
							</div>
							<div class="col">{{financial.earningsBeforeTaxMargin}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net profit margin: </b>
							</div>
							<div class="col">{{financial.netProfitMargin}}</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="balance-sheet">
			<br>
			<div *ngFor="let bs of balanceSheets.financials">
				<div class="row">
					<div class="col-10"></div>
				</div>
				<div class="row">
					<div class="col-9">
						<div class="row">
							<div class="col-4">
								<b>Date: </b>
							</div>
							<div class="col">
								<b>{{bs.date}}</b>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Cash and cash equivalents: </b>
							</div>
							<div class="col">{{bs.cashAndCashEquivalents}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Short-term investments: </b>
							</div>
							<div class="col">{{bs.shortTermInvestments}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Cash and short-term investments: </b>
							</div>
							<div class="col">{{bs.cashAndShortTermInvestments}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Receivables: </b>
							</div>
							<div class="col">{{bs.receivables}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Inventories: </b>
							</div>
							<div class="col">{{bs.inventories}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total current assets: </b>
							</div>
							<div class="col">{{bs.totalCurrentAssets}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Property plant equipment net: </b>
							</div>
							<div class="col">{{bs.propertyPlantEquipmentNet}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Good will and intangible assets: </b>
							</div>
							<div class="col">{{bs.goodWillAndIntangibleAssets}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Long term investments: </b>
							</div>
							<div class="col">{{bs.longTermInvestments}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Tax assets: </b>
							</div>
							<div class="col">{{bs.taxAssets}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total non current assets: </b>
							</div>
							<div class="col">{{bs.totalNonCurrentAssets}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total assets: </b>
							</div>
							<div class="col">{{bs.totalAssets}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Payables: </b>
							</div>
							<div class="col">{{bs.payables}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Short term debt: </b>
							</div>
							<div class="col">{{bs.shortTermDebt}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total current liabilities: </b>
							</div>
							<div class="col">{{bs.totalCurrentLiabilities}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Long term debt: </b>
							</div>
							<div class="col">{{bs.longTermDebt}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total debt: </b>
							</div>
							<div class="col">{{bs.totalDebt}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Deferred revenue: </b>
							</div>
							<div class="col">{{bs.deferredRevenue}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Tax liabilities: </b>
							</div>
							<div class="col">{{bs.taxLiabilities}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Deposit liabilities: </b>
							</div>
							<div class="col">{{bs.depositLiabilities}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total non current liabilities: </b>
							</div>
							<div class="col">{{bs.totalNonCurrentLiabilities}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total liabilities: </b>
							</div>
							<div class="col">{{bs.totalLiabilities}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Other comprehensive income: </b>
							</div>
							<div class="col">{{bs.otherComprehensiveIncome}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Retained earnings: </b>
							</div>
							<div class="col">{{bs.retainedEarnings}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Total shareholders equity: </b>
							</div>
							<div class="col">{{bs.totalShareholdersEquity}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Investments: </b>
							</div>
							<div class="col">{{bs.investments}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net debt: </b>
							</div>
							<div class="col">{{bs.netDebt}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Other assets: </b>
							</div>
							<div class="col">{{bs.otherAssets}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Other liabilities: </b>
							</div>
							<div class="col">{{bs.otherLiabilities}}</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="cash-flow">
			<br>
			<div *ngFor="let cf of cashFlows.financials">
				<div class="row">
					<div class="col-10"></div>
				</div>
				<div class="row">
					<div class="col-9">
						<div class="row">
							<div class="col-4">
								<b>Date: </b>
							</div>
							<div class="col">
								<b>{{cf.date}}</b>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Depreciation & Amortization: </b>
							</div>
							<div class="col">{{cf.depreciationAmortization}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Stock-based compensation: </b>
							</div>
							<div class="col">{{cf.stockBasedCompensation}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Operating Cash Flow: </b>
							</div>
							<div class="col">{{cf.operatingCashFlow}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Capital Expenditure: </b>
							</div>
							<div class="col">{{cf.capitalExpenditure}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Acquisitions and disposals: </b>
							</div>
							<div class="col">{{cf.acquisitionsAndDisposals}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Investment purchases and sales: </b>
							</div>
							<div class="col">{{cf.investmentPurchasesAndSales}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Investing Cash flow: </b>
							</div>
							<div class="col">{{cf.investingCashFlow}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Issuance (repayment) of debt: </b>
							</div>
							<div class="col">{{cf.issuanceOfDebt}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Issuance (buybacks) of shares: </b>
							</div>
							<div class="col">{{cf.issuanceOfShares}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Dividend payments: </b>
							</div>
							<div class="col">{{cf.dividendPayments}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Financing Cash Flow: </b>
							</div>
							<div class="col">{{cf.financingCashFlow}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Effect of forex changes on cash: </b>
							</div>
							<div class="col">{{cf.effectOfForexChangesOnCash}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net cash flow / Change in cash: </b>
							</div>
							<div class="col">{{cf.netCashFlowChangeInCash}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Free Cash Flow: </b>
							</div>
							<div class="col">{{cf.freeCashFlow}}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<b>Net Cash/Marketcap: </b>
							</div>
							<div class="col">{{cf.netCashMarketCap}}</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="ratios">
			<br>
			<div *ngFor="let ratios of financialRatios.ratios">
				<div class="row">
					<div class="col-10"></div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-1">
								<b>Date: </b>
							</div>
							<div class="col">
								<b>{{ratios.date}}</b>
							</div>
						</div>																		
						<div class="row">							
							<div class="col">
								<hr>
							</div>
						</div>																		
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="row">
									<div class="col-4">
										<b>Liquidity Measurement Ratios</b>
									</div>
									<div class="col">
										<div class="col">
											<div class="row">
												<div class="col">
													<div class="col">
														<div class="col">
															<div class="row">
																<div class="col-8">
																	<b>Current ratio: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.currentRatio}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Quick ratio: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.quickRatio}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Cash ratio: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.cashRatio}}</div>																
															</div>										
															<div class="row">
																<div class="col-8">
																	<b>Days of sales outstanding: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.daysOfSalesOutstanding}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Days of inventory outstanding: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.daysOfInventoryOutstanding}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Operating cycle: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.operatingCycle}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Days of payables outstanding: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.daysOfPayablesOutstanding}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Cash conversion cycle: </b>
																</div>
																<div class="col">{{ratios.liquidityMeasurementRatios.cashConversionCycle}}</div>																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
						<hr>
						</div>
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="row">
									<div class="col-4">
										<b>Profitability Indicator Ratios</b>
									</div>
									<div class="col">
										<div class="col">
											<div class="row">
												<div class="col">
													<div class="col">
														<div class="col">
															<div class="row">
																<div class="col-8">
																	<b>Gross profit margin: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.grossProfitMargin}}</div>																
															</div>														
															<div class="row">
																<div class="col-8">
																	<b>Operating profit margin: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.operatingProfitMargin}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Pretax profit margin: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.pretaxProfitMargin}}</div>																
															</div>									
															<div class="row">
																<div class="col-8">
																	<b>Net profit margin: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.netProfitMargin}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Effective tax rate: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.effectiveTaxRate}}</div>																
															</div>														
															<div class="row">
																<div class="col-8">
																	<b>Return on assets: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.returnOnAssets}}</div>																
															</div>																													
															<div class="row">
																<div class="col-8">
																	<b>Return on equity: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.returnOnEquity}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Return on capital employed: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.returnOnCapitalEmployed}}</div>																
															</div>																														
															<div class="row">
																<div class="col-8">
																	<b>NI per EBT: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.nIperEBT}}</div>																
															</div>														
															<div class="row">
																<div class="col-8">
																	<b>EBT per EBIT: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.eBTperEBIT}}</div>																
															</div>														
															<div class="row">
																<div class="col-8">
																	<b>EBIT per revenue: </b>
																</div>
																<div class="col">{{ratios.profitabilityIndicatorRatios.eBITperRevenue}}</div>																
															</div>																												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>																											
						<div class="row">
						<hr>
						</div>												
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="row">
									<div class="col-4">
										<b>Debt Ratios</b>
									</div>
									<div class="col">
										<div class="col">
											<div class="row">
												<div class="col">
													<div class="col">
														<div class="col">
															<div class="row">
																<div class="col-8">
																	<b>Debt ratio: </b>
																</div>
																<div class="col">{{ratios.debtRatios.debtRatio}}</div>																
															</div>																														
															<div class="row">
																<div class="col-8">
																	<b>Debt equity ratio: </b>
																</div>
																<div class="col">{{ratios.debtRatios.debtEquityRatio}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Long term debt to capitalization: </b>
																</div>
																<div class="col">{{ratios.debtRatios.longtermDebtToCapitalization}}</div>																
															</div>																																													
															<div class="row">
																<div class="col-8">
																	<b>Total debt to capitalization: </b>
																</div>
																<div class="col">{{ratios.debtRatios.totalDebtToCapitalization}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Interest coverage: </b>
																</div>
																<div class="col">{{ratios.debtRatios.interestCoverage}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Cash flow to debt ratio: </b>
																</div>
																<div class="col">{{ratios.debtRatios.cashFlowToDebtRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Company equity multiplier: </b>
																</div>
																<div class="col">{{ratios.debtRatios.companyEquityMultiplier}}</div>																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div class="row">
						<hr>
						</div>												
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="row">
									<div class="col-4">
										<b>Operating Performance Ratios</b>
									</div>
									<div class="col">
										<div class="col">
											<div class="row">
												<div class="col">
													<div class="col">
														<div class="col">
															<div class="row">
																<div class="col-8">
																	<b>Receivables turnover: </b>
																</div>
																<div class="col">{{ratios.operatingPerformanceRatios.receivablesTurnover}}</div>																
															</div>																														
															<div class="row">
																<div class="col-8">
																	<b>Payables turnover: </b>
																</div>
																<div class="col">{{ratios.operatingPerformanceRatios.payablesTurnover}}</div>																
															</div>
															
															<div class="row">
																<div class="col-8">
																	<b>Inventory turnover: </b>
																</div>
																<div class="col">{{ratios.operatingPerformanceRatios.inventoryTurnover}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Fixed asset turnover: </b>
																</div>
																<div class="col">{{ratios.operatingPerformanceRatios.fixedAssetTurnover}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Asset turnover: </b>
																</div>
																<div class="col">{{ratios.operatingPerformanceRatios.assetTurnover}}</div>																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>			
						<div class="row">
						<hr>
						</div>												
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="row">
									<div class="col-4">
										<b>Cash Flow Indicator Ratios</b>
									</div>
									<div class="col">
										<div class="col">
											<div class="row">
												<div class="col">
													<div class="col">
														<div class="col">
															<div class="row">
																<div class="col-8">
																	<b>Operating cash flow per share: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.operatingCashFlowPerShare}}</div>																
															</div>																														
															<div class="row">
																<div class="col-8">
																	<b>Free cash flow per share: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.freeCashFlowPerShare}}</div>																
															</div>
															
															<div class="row">
																<div class="col-8">
																	<b>Cash per share: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.cashPerShare}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Payout ratio: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.payoutRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Receivables turnover: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.receivablesTurnover}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Operating cash flow sales ratio: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.operatingCashFlowSalesRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Free cash flow operating cash flow ratio: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.freeCashFlowOperatingCashFlowRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Cash flow coverage ratios: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.cashFlowCoverageRatios}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Short term coverage ratios: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.shortTermCoverageRatios || 'n.a.'}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Capital expenditure coverage ratios: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.capitalExpenditureCoverageRatios}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Dividend paid and capex coverage ratios: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.dividendpaidAndCapexCoverageRatios}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Dividend payout ratio: </b>
																</div>
																<div class="col">{{ratios.cashFlowIndicatorRatios.dividendPayoutRatio}}</div>																
															</div>															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div class="row">
						<hr>
						</div>												
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="row">
									<div class="col-4">
										<b>Investment Valuation Ratios</b>
									</div>
									<div class="col">
										<div class="col">
											<div class="row">
												<div class="col">
													<div class="col">
														<div class="col">
															<div class="row">
																<div class="col-8">
																	<b>Price book value ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceBookValueRatio}}</div>																
															</div>																														
															<div class="row">
																<div class="col-8">
																	<b>Price to book ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceToBookRatio}}</div>																
															</div>
															
															<div class="row">
																<div class="col-8">
																	<b>Price to sales ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceToSalesRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Price earnings ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceEarningsRatio}}</div>																
															</div>
															
															<div class="row">
																<div class="col-8">
																	<b>Receivables turnover: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.receivablesTurnover}}</div>																
															</div>															
															<div class="row">
																<div class="col-8">
																	<b>Price to free cash flows ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceToFreeCashFlowsRatio}}</div>																
															</div>																	
															<div class="row">
																<div class="col-8">
																	<b>Price to operating cashflows ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceToOperatingCashFlowsRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Price cash flow ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceCashFlowRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Price earnings to growth ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceEarningsToGrowthRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Price sales ratio: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceSalesRatio}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Dividend yield: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.dividendYield}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Enterprise value multiple: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.enterpriseValueMultiple}}</div>																
															</div>
															<div class="row">
																<div class="col-8">
																	<b>Price fair value: </b>
																</div>
																<div class="col">{{ratios.investmentValuationRatios.priceFairValue}}</div>																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>													
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>